.summaryContainer {
    display: grid;
    grid-template-columns: repeat(3, 150px) ;
    column-gap: 20px;
    grid-auto-flow: row;
    border: 4px;
    border-style: groove;
    border-color: grey;
    border-radius: 8px;
    padding: 20px 20px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(192, 192, 192);
}

h1,h2 {
    padding-left: 20px;
    text-align: center;
}

.quantity-button {
    display: flex;
    flex-direction: row;
}
